<% let result = new Map();
result.set('-',"Negativo");
result.set('+',"Positivo"); %>
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion de casos</title>
    <%- include('templates/styles') %>
</head>

<body>
    <% if(role=='Admin') {%>
      <%- include('templates/header_admin') %>
    <% } else { %>
      <%- include('templates/header_1') %>
    <% } %>
        <div class="content-body center">
            <div class="panel">
                <h1>Gestión de casos</h1>
                <form action="/gestion" method="POST">

                    <div class="box">
                        <select name="type" id="Busqueda de casos" type="text" class="form-input">
                            <option value="nombre">Nombre</option>
                            <option value="id">Id</option>
                            <option value="cedula">Cedula</option>
                        </select>
                        <label class="form-label"> tipo de Busqueda </label>
                    </div>

                    <div class="box">
                        <input type="text" name="busqueda" id="search" class="form-input" placeholder=" ">
                        <label class="form-label" for="search">Busqueda de casos </label>
                    </div>

                    <div class="box">
                        <input type="submit" name="submit" value="buscar"> </input>
                    </div>
                </form>

                <table >
                  <tr>
                      <th colspan="3">ID</th>
                      <td>
                        <% resultado.forEach(r=> { %>
                          <%= r.id%>
                        <% });%>
                      </td>
                  </tr>
                  <tr> 
                    <th colspan="3">Nombre</th>
                    <td>
                        <% resultado.forEach(r=> { %>
                          <%= r.nombre%>
                        <% });%>
                      </td>
                  </tr>
                  <tr> 
                    <th colspan="3">Cédula</th>
                    <td>
                        <% resultado.forEach(r=> { %>
                          <%= r.cedula %>
                        <% });%>
                      </td>
                  </tr>
                  <tr> 
                    <th colspan="3">Sexo</th>
                    <td>
                        <% resultado.forEach(r=> { %>
                          <%= r.sexo %>
                        <% });%>
                      </td>
                  </tr>
                  <tr> 
                    <th colspan="3">fecha de nacimiento</th>
                    <td>
                        <% resultado.forEach(r=> { %>
                          <%= r.nacimiento %>
                        <% });%>
                      </td>
                  </tr>
                  <tr> 
                    <th colspan="3">dir. residencia</th>
                    <td>
                        <% resultado.forEach(r=> { %>
                          <%= r.residencia %>
                        <% });%>
                      </td>
                  </tr>
                  <tr> 
                    <th colspan="3">dir. trabajo</th>
                    <td>
                        <% resultado.forEach(r=> { %>
                          <%= r.trabajo %>
                        <% });%>
                      </td>
                  </tr>
                  <tr> 
                    <th colspan="3">Resultado</th>
                    <td>
                        <% resultado.forEach(r=> { %>
                          <%= result.get(r.examen) %>
                        <% });%>
                      </td>
                  </tr>
                  <tr> 
                    <th colspan="3">Fecha del examen</th>
                    <td>
                        <% resultado.forEach(r=> { %>
                          <%= r.fecha %>
                        <% });%>
                      </td>
                  </tr>
              </table>
              
              <form action="/gestion">
                <div class="box" >
                  <select name="estado" id="estado" class="form-input">
                    <option value="tratamiento en casa">Tratamiento en casa</option>
                    <option value="tratamiento en hospital">Tratamiento en hospital</option>
                    <option value="en uci">En UCI</option>
                    <option value="curado">Curado</option>
                    <option value="muerte">Muerte</option>
                  </select>
                  <label class="form-label" for="estado">Estado del usuario</label>
                </div>

                <div  class="box" > 
                  <input placeholder=" " class ="form-input"type="text" id="id1" name="ID">
                  <label for="id1"></label>
                </div>
                <div class="box">
                  <input type="submit" name="submit" value="estado">
                </div>
                
            </form>


            </div>
        </div>



</body>

</html>